

.body-proj{
    margin:0;
    background-color:#F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-family:'Roboto', sans-serif;
    width: 100%;
    /* min-height: 100hv; */
}

.header{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    background: #F0F0F0;
    z-index:997;
}

.search-container{
    width: 100%;
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

.behind{
    width: 100%;
    height: 180px;
    z-index:996;
}

.projects-container{
    display:flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    z-index:995;
    padding-bottom: 80px;
    /* height: 100%;
    min-height:100vh; */
}


.nav-proj{
    z-index:997;
}