.projectDetailBG{
    background-color:rgba(49, 49, 49, 0.8);
    width: 100vw;
    height: 100vh;
    position:fixed;
    top: 0;
    left: 0;
    bottom:0;
    border:0;
    display: flex;
    justify-content: center;
    z-index: 998;
}
.pdContent{
    background-color: #F0F0F0;
    height: 90%;
    width: 100%;
    z-index: 998;
    bottom: 0;
    position: absolute;
    border-radius:50px 50px 0px 0px;
}
.pdHeader{
    width: 100%;
    height: 10%;
    border-radius: 50px 50px 0px 0px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    align-items: center;
    border-bottom: 1px solid #000;
}

.pdHeader p{
    font-weight: 500;
}

.pdBody{
    width: 100%;
    column-gap: 12px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.projectTitle{
    align-self: flex-start;
    font-size: 24px;
    font-weight: 300;
    margin-top: 16px;
    margin-left: 10%;

}

.projectInfos{
    max-width: 80%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap:12px;
}

.pjItem-Value{
    display:flex;
    gap:8px;
    flex-direction: column;
}

.pjItem{
    font-size: 16px;
    font-weight: bold;
}

.pjValue{
    display: flex;
    font-size:16px;
    color: #6E6E6E;
    flex-wrap:wrap;
}
.pdButton{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
.pdCloseButton{
    color:#fff;
    background-color: #0672CB;
    border:none;
    border-radius: 30px;
    padding: 7px 45px ;
    
}

.ownerButtons{
    display:flex;
    gap:12px;
    margin-top: 24px;
}

.pdEditButton{
    color:#0672CB;
    border: 1px solid #0672CB;
    border-radius: 30px;
    padding: 7px 45px ;
}